<h3> Please update user <%= @user.last_name %> <%= @user.first_name %> </h3>

<%= simple_form_for @user do |u| %>
  <%= u.input :first_name %>
  <%= u.input :last_name %>
  <%= u.input :email, placeholder: 'user@domain.com' %>
  <%= u.input :password_digest %>
  <%= u.input :phone %>
  <%= u.input :address_street %>
  <%= u.input :address_street_number %>
  <%= u.input :address_unit_number %>
  <%= u.input :address_city %>
  <%= u.input :address_postal_code %>
  <%= u.input :activity_status %>


<select name="activity_status">
  <% @activity_status_values.each do |key, value| %>
     <option 
        value="<%=key%>" 
        >
      <%= value %>
     </option> 
  <% end %>
</select>




  <%= u.input :seniority_status %>
  <%= u.input :employment_status %>
  <%= u.input :wage %>
  <%= u.input :job_title %>
  <%= u.input :skill_description %>
  <%= u.button :submit %>
<% end %>