<h3>User show page </h3>
<p>id: <%= @user.id  %> </p>
<p>full_name: <%= @user.full_name  %> </p>
<p>email: <%= @user.email  %> </p>
<p>phone: <%= @user.phone  %> </p>
<p>activity status: <%= @user.activity_status  %> </p>
<p>seniority status: <%= @user.seniority_status  %> </p>
<p>employment status: <%= @user.employment_status  %> </p>
<p>wage: <%= @user.wage  %> </p>
<p>job _title: <%= @user.job_title  %> </p>
<p>skill description: <%= @user.skill_description  %> </p>
<p>Address:</p>
<p>street: <%= @user.address_street  %> </p>
<p>street number: <%= @user.address_street_number  %> </p>
<p>unit number: <%= @user.address_unit_number  %> </p>
<p>city: <%= @user.address_city  %> </p>
<p>postal code: <%= @user.address_postal_code  %> </p>


