<h3> Your company is <%= @company.title %> </h3>

<p>id: <%= @company.id  %> </p>

<p>title: <%= @company.title %> </p>

<p>description: <%= @company.description %> </p>

<p>current status active? <%= @company.is_status_active %> </p>