<!DOCTYPE html>
<html>
  <head>
    <title>EasyForeman</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <h3>This is application layout and navbar</h3>
      <%= link_to 'Edit my company', companies_path %>
      |
      <%= link_to 'Show All Employees', companies_path %>
      |

      <% if user_signed_in?%>
        Hello <%= current_user.full_name %>,
        <%= link_to "Logout", session_path, method: :delete %>
        |
      <% else %>
        <%= link_to 'Login as a User', new_session_path %>
        |
        <%= link_to 'Register a Company', new_company_path %>
        |
      <% end %>
    <%= yield %>
  </body>
</html>
