<!DOCTYPE html>
<html>
  <head>
    <title>EasyForeman</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <h3>This is application layout and navbar</h3>
      <%= link_to 'Edit my company', companies_path %>
      |
      <%= link_to 'Show All Employees', companies_path %>
      |
    <%= yield %>
  </body>
</html>
